*{
    margin: 0;
    padding: a0;
}
body{
    background-color: #B3A398;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: burlywood;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    color: rgb(13, 13, 13);
    background-color: #C6DCBA;
}
#resetbtn{
    margin-top: 1.25px;
    padding: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(72, 77, 83);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem ;
    border: none;
}

#newbtn{
    margin: 1rem 0 1rem 0;
    padding: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(72, 77, 83);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem ;
    border: none;
}
#msg{
    margin-top: 1rem;
    text-align:center;
    font-size: 6vmin;
    color: #070F2B;
}
.hide{
    display: none;
}

.msg-container{
    margin-top: 15rem;
    
}

.strikeboxes{
    background-color: slategray;
    text-decoration: line-through;
    color: white;
}

.playerO{
    color: #8a2a02;
}

.playerX{
    color: navy;
}